button.btn,
a.btn {
	outline: none;
	background: none;
	border: none;
	width: 120px;
	height: 40px;
	border-radius: var(--border-radius-lg);
	color: white;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: background 0.25s ease;
	text-align: center;

	&.btn-primary {
		background: var(--blue-secondary);

		&:hover {
			background: var(--blue-primary);
		}
	}

	&.btn-float {
		color: var(--blue-secondary);
	}

	&.btn-lg {
		width: 200px;
		height: 60px;
		font-size: 24px;
	}
}

a.btn {
	display: block;
	text-decoration: none;
	&.btn-lg {
		line-height: 60px;
	}

	&.verticalCenterText {
		@extend .flexAllCenter;
	}
}

// Dark mode
body.dark {
	button.btn,
	a.btn {
		color: var(--blue-primary);

		&.btn-primary {
			background: var(--yellow-primary);

			&:hover {
				background: var(--yellow-secondary);
			}
		}
	}
}
