.cardsGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--space-md);

	&.oneColumn {
		grid-template-columns: 1fr;
	}

	@include for-phone-only {
		grid-template-columns: 1fr 1fr !important;
	}
}

.resultCard {
	@extend .flexAllCenter;
	@extend .blueBackground;

	flex-direction: column;
	padding: 0.75rem;
	margin: 0.5rem;
	border-radius: var(--border-radius-md);
	width: 2rem;
	height: 2rem;
}
