.cardsGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--space-md);

	&.oneColumn {
		grid-template-columns: 1fr;
	}

	@include for-phone-only {
		grid-template-columns: 1fr 1fr !important;
	}
}
