@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

body {
	margin: 0;
	font-family: "Noto Sans JP", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: white;
	color: black;
	transition: background-color 0.25s ease, color 0.25s ease;

	&.dark {
		background-color: var(--blue-primary);
		color: white;

		.title {
			color: white;
		}

		a {
			color: var(--yellow-primary);

			&:hover {
				color: var(--yellow-secondary);
			}
		}
	}

	.title {
		color: var(--blue-secondary);
		text-align: center;
	}

	a {
		color: var(--blue-secondary);
		transition: color 0.25s ease;

		&:hover {
			color: var(--blue-primary);
		}
	}
}
