.relativeCenter {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex {
	display: flex;
}

.flexAllCenter {
	@extend .flex;
	justify-content: center;
	align-items: center;
}
