.relativeCenter {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex {
	display: flex;

	&.flexWrap {
		flex-wrap: wrap;
	}

	&.justifyBetween {
		justify-content: space-between;
	}
}

.flexAllCenter {
	@extend .flex;
	justify-content: center;
	align-items: center;
}

.blueBackground {
	background-color: var(--blue-secondary);
}

.blackText {
	color: black;
	font-weight: normal;
}

.normalWeight {
	font-weight: normal;
}

.whiteText {
	color: white;
}

.textCenter {
	text-align: center;
}

.mb-3 {
	margin-bottom: var(--space-lg);
}

.mb-1 {
	// margin-bottom: var(--space-sm) / 2px;
	margin-bottom: 4px;
}

.mt-3 {
	margin-top: var(--space-lg);
}

.mr-2 {
	margin-right: var(--space-md);
}

.mr-1 {
	margin-right: 4px;
}

.squashedIn {
	margin-left: auto;
	margin-right: auto;
	max-width: 25rem;
}

.noMargin {
	margin: 0;
}

.fontSm {
	font-size: 14px;
}

.alignSelfEnd {
	align-self: flex-end;
}
