:root {
	--green: #52d327;
	--blue-primary: #1d689e;
	--blue-secondary: #268bd2;
	--yellow-primary: #f7ec12;
	--yellow-secondary: #c5bb07;
	--red: #d32727;
	--text-gray: #d1d1d1;
	--bg-gray: #e8e8e8;
	--space-sm: 8px;
	--space-md: 16px;
	--space-lg: 24px;
	--layout-sm: 24px;
	--layout-md: 160px;
	--layout-lg: 240px;
	--border-radius-sm: 2px;
	--border-radius-md: 4px;
	--border-radius-lg: 6px;
}
